<app-sidebar></app-sidebar>
<app-topbar></app-topbar>

<div class="container">
    <div class="task-container" *ngIf="assignment">
      <div class="task-title">{{ assignment.name }}</div>
      <div class="task-info">
        Оцінка: {{ assignment.grade || '-' }} •
        Дедлайн:
        {{
          assignment.deadline
            ? (assignment.deadline | date: 'dd MMMM, HH:mm')
            : 'немає'
        }}
      </div>
  
      <div *ngIf="!isEditing">
        <div
          class="task-description"
          [innerHTML]="parsedMarkdown"
        ></div>
        <button class="edit-btn" (click)="editDescription()">Редагувати</button>
      </div>
  
      <div *ngIf="isEditing">
        <textarea
          [(ngModel)]="editedStatement"
          (input)="updateMarkdown()"
        ></textarea>
        <button class="save-btn" (click)="saveDescription()">Зберегти</button>
      </div>
    </div>
  </div>
  