
.container {
    font-family: Arial, sans-serif;
    width: 100%;
    /* max-width: 1000px; */
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.task-container {
    flex: 1;
    max-width: 50%;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.task-info {
    font-size: 14px;
    color: gray;
    margin-bottom: 15px;
}

.task-description {
    border: 1px solid #ddd;
    padding: 10px;
    min-height: 100px;
    border-radius: 5px;
    background: #fafafa;
    white-space: normal;
    line-height: 1.4;
    padding-left: 10px;
}

.task-description p {
    margin: 5px 0;
}

.task-description ul,
.task-description ol {
    padding-left: 20px;
    display: block;
}

.edit-btn,
.save-btn {
    margin-top: 10px;
    padding: 8px 12px;
    background: #55f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-btn {
    display: inline-block;
}

.edit-btn:hover,
.save-btn:hover {
    background: rgb(72, 72, 251);
}

textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    resize: vertical;
    margin-bottom: 10px;
}
