<div class="navbar_header">
    <nav>
        <ul>
            <li>
                <a routerLink="/" routerLinkActive="active">Головна</a>
            </li>
            <li>
                <a routerLink="/tasks" routerLinkActive="active">Завдання</a>
            </li>
            <li>
                <a routerLink="/table" routerLinkActive="active">Журнал</a>
            </li>
            <li>
                <a routerLink="/users" routerLinkActive="active">Користувачі</a>
            </li>
        </ul>
    </nav>
</div>
