<div class="navbar_header">
    <nav>
        <ul>
            <li>
                <a [routerLink]="['/class', classId]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Головна</a>
            </li>
            <li>
                <a routerLink="/tasks" routerLinkActive="active">Завдання</a>
            </li>
            <li>
                <a [routerLink]="['/class', classId, 'table']" routerLinkActive="active">Журнал</a>
            </li>
            <li>
                <a [routerLink]="['/class', classId, 'users-list']" routerLinkActive="active">Користувачі</a>
            </li>
        </ul>
    </nav>
</div>
