.navbar_header {
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.navbar_header nav {
    width: 100%;
}

.navbar_header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.navbar_header nav li {
    display: inline-block;
}

.navbar_header nav a {
    color: #444;
    text-decoration: none;
    font-size: 16px;
}

.navbar_header nav a:hover {
    color: #000;
}

.navbar_header nav a.active {
    font-weight: bold;
    border-bottom: 2px solid #55f;
}
