:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile_form {
    background: #ffffff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_form h3 {
    margin: 0;
    color: #333333;
    font-size: 24px;
    text-align: center;
}

.image-container {
    position: relative;
    margin-top: 20px;
}

.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.profile-image:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #55f;
    color: #ffffff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.image-container:hover .edit-icon {
    opacity: 1;
    transform: scale(1.1);
}

.tooltip {
    position: absolute;
    top: -30px;
    right: 10px;
    background: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.image-container:hover .tooltip {
    opacity: 1;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
}

.col-md-4 {
    flex: 1; /* Дозволяє колонкам рівномірно займати простір */
    margin: 0 5px; /* Зменшені відступи між колонками */
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: #555555;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"] {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #55f;
}

.save-button {
    margin-top: 20px;
    padding: 12px 20px;
    background: #55f;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
    align-self: center;
}

.save-button:hover {
    background: rgb(72, 72, 251);
}
