<nav #sidebar class="sidebar locked" (mouseenter)="showSidebar()" (mouseleave)="hideSidebar()">
  <div class="logo_items flex">
    <span class="nav_image">
      <img src="/assets/icons/android-chrome-512x512.png" alt="logo_img" />
    </span>
    <span class="logo_name">Gradebook</span>
  </div>
  <div class="menu_container">
    <ul class="menu_item">
      <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="link flex"><i class="bx bx-home-alt"></i> Навчання</a></li>
      <li><a routerLink="/teaching" routerLinkActive="active" class="link flex"><i class="bx bxs-graduation"></i>Викладання</a></li>
      <li><a routerLink="/performance" routerLinkActive="active" class="link flex"><i class="bx bxs-color"></i> Моя успішність</a></li>
      <li><a routerLink="/profile" routerLinkActive="active" class="link flex"><i class="bx bx-user"></i>Профіль</a></li>
      <li><a routerLink="/log-in" routerLinkActive="active" class="link flex"><i class="bx bx-log-out"></i>Вихід</a></li>
    </ul>
  </div>
</nav>
