<nav #sidebar class="sidebar locked" (mouseenter)="showSidebar()" (mouseleave)="hideSidebar()">
  <div class="logo_items flex">
    <span class="nav_image">
      <img src="/assets/icons/android-chrome-512x512.png" alt="logo_img" />
    </span>
    <span class="logo_name">Gradebook</span>
  </div>
  <div class="menu_container">
    <ul class="menu_item">
      <li><a routerLink="/education" class="link flex"><i class="bx bx-home-alt"></i> Навчання</a></li>
      <li><a routerLink="/teaching" class="link flex"><i class="bx bxs-graduation"></i> Викладання</a></li>
      <li><a routerLink="/performance" class="link flex"><i class="bx bxs-color"></i> Моя успішність</a></li>
      <li><a routerLink="/profile" class="link flex"><i class="bx bx-user"></i> <b>Профіль</b></a></li>
      <li><a routerLink="/log-in" class="link flex"><i class="bx bx-log-out"></i>Вихід</a></li>
    </ul>
  </div>
</nav>
